body {
    margin: 0;
    background-image: url(../IMAGES/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'dosis', sans-serif;
}
nav {
    display: block;
    position: sticky;
    overflow: hidden;
    top: 0;
    margin-bottom: 5px;
    padding: 5px 10px;
    z-index: 10;
  }
  .sidenavButton {
    color: #fff;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #90b4b9, #79a4ad);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 600;
    }  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  } 
  .sidenav a:hover {
    color: #505050;
  } 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav a.active {
    color: #4d4d4d;
  }
  .sidenav a.active:hover {
    color: #333333;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }





  /* Experience WebPage Styles */

  .experienceMainDiv {
    color: black;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .experienceContentAdjustment {
    text-align: left;
  }
  .logo1 {
    float: left;
    border: 1px hidden;
  }
  .conHead a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  .conHead a:hover {
    color: #7c7c7c;
  }
  .conHead1 a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  .conHead1 a:hover {
    color: #7c7c7c;
  }
  .con h2 {
    font-weight: 300;
  }
  .date1 {
    color: rgba(0, 0, 0, 0.351);
    text-align: left;
    font-weight: 300;
  }
  .date1 a {
    color: rgba(0, 0, 0, 0.351);
    font-weight: 300;
    text-decoration: none;
  }
  .date2 {
    color: rgba(0, 0, 0, 0.351);
    text-align: left;
    font-weight: 300;
  }
  .date2 a {
    color: rgba(0, 0, 0, 0.351);
    font-weight: 300;
    text-decoration: none;
  }

  .conParagraph {
    font-weight: 800;
  }
  .btn {
    border: hidden;
    background-color: transparent;
    color: #cdcdcd;
    text-align: right;
    float: right;
}
.btn:hover {
    color: #0B66C7;
}
.more {
    display: none;
}
.details a {
    border: 1px hidden;
    border-radius: 10px;
    color: #666666;
    text-decoration: none;
  }
  .details a:hover {
    border: 1px solid #EBEBEB;
    color: #666666;
    background-color: #EBEBEB;
  }
  .details a:active {
    color: #161616;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
  }


@media only screen 
and (min-device-width: 0px)  {
  .experienceMainDiv {
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .experienceContentAdjustment {
    padding: 5px;
  }
  .logo1 {
    padding-right: 10px;
    padding-bottom: 75px;
    max-width: 50px;
  }
  .con {
    padding-left: 5px;
    padding-right: 5px;
  }
  .con h2 {
    font-size: 85%;
  }
  .conHead {
    font-weight: 500;
    font-size: 85%;
  }
  .conHead1 {
    font-weight: 500;
    font-size: 85%;
    padding-left: 55px;
  }
  .date1 {
    font-size: 60%;
    padding-left: 25px;
  }
  .conParagraph {
    padding-left: 25px;
    padding-right: 50px;
    font-size: 85%;
  }
  .date2 {
    font-size: 60%;
    padding-left: 55px;
  }
  .conParagraph1 {
    padding-left: 55px;
    padding-right: 50px;
    font-size: 85%;
  }
  .btn {
    font-size: 75%;
    float: none;
  }
  .details a {
    font-size: 65%;
    padding: 10px 55px;
    margin: 5px 5px 5px 5px;
  }
  h1 {
    font-size: 120%;
  }
}

@media only screen
and (min-device-width: 350px) {
  .experienceMainDiv {
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .experienceContentAdjustment {
    padding: 5px;
  }
  .logo1 {
    padding-right: 10px;
    padding-bottom: 75px;
    max-width: 50px;
  }
  .con {
    padding-left: 5px;
    padding-right: 5px;
  }
  .con h2 {
    font-size: 85%;
  }
  .conHead {
    font-weight: 500;
    font-size: 85%;
  }
  .conHead1 {
    font-weight: 500;
    font-size: 85%;
    padding-left: 55px;
  }
  .date1 {
    font-size: 60%;
    padding-left: 25px;
  }
  .conParagraph {
    padding-left: 25px;
    padding-right: 50px;
    font-size: 85%;
  }
  .date2 {
    font-size: 60%;
    padding-left: 55px;
  }
  .conParagraph1 {
    padding-left: 55px;
    padding-right: 50px;
    font-size: 85%;
  }
  .btn {
    font-size: 75%;
    float: none;
  }
  .details a {
    font-size: 65%;
    padding: 10px 55px;
    margin: 5px 5px 5px 5px;
  }
  h1 {
    font-size: 120%;
  }
}

@media only screen
and (min-device-width: 465px) {
  .experienceMainDiv {
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .experienceContentAdjustment {
    padding: 5px;
  }
  .logo1 {
    padding-right: 10px;
    padding-bottom: 75px;
    max-width: 50px;
  }
  .con {
    padding-left: 5px;
    padding-right: 5px;
  }
  .con h2 {
    font-size: 85%;
  }
  .conHead {
    font-weight: 500;
    font-size: 85%;
  }
  .conHead1 {
    font-weight: 500;
    font-size: 85%;
    padding-left: 55px;
  }
  .date1 {
    font-size: 60%;
    padding-left: 25px;
  }
  .conParagraph {
    padding-left: 25px;
    padding-right: 50px;
    font-size: 80%;
  }
  .date2 {
    font-size: 60%;
    padding-left: 55px;
  }
  .conParagraph1 {
    padding-left: 55px;
    padding-right: 50px;
    font-size: 80%;
  }
  .btn {
    font-size: 75%;
    float: none;
  }
  .details a {
    font-size: 65%;
    padding: 10px 55px;
    margin: 5px 5px 5px 5px;
  }
  h1 {
    font-size: 120%;
  }
}

@media only screen
and (min-device-width: 840px) {
  .experienceMainDiv {
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .experienceContentAdjustment {
    padding: 5px;
  }
  .logo1 {
    padding-right: 10px;
    padding-bottom: 75px;
    max-width: 50px;
  }
  .con {
    padding-left: 5px;
    padding-right: 5px;
  }
  .con h2 {
    font-size: 85%;
  }
  .conHead {
    font-weight: 500;
    font-size: 85%;
  }
  .conHead1 {
    font-weight: 500;
    font-size: 85%;
    padding-left: 55px;
  }
  .date1 {
    font-size: 60%;
    padding-left: 25px;
  }
  .conParagraph {
    padding-left: 25px;
    padding-right: 50px;
    font-size: 85%;
  }
  .date2 {
    font-size: 60%;
    padding-left: 55px;
  }
  .conParagraph1 {
    padding-left: 55px;
    padding-right: 50px;
    font-size: 85%;
  }
  .btn {
    font-size: 75%;
    float: right;
  }
  .details a {
    font-size: 65%;
    padding: 10px 55px;
    margin: 5px 5px 5px 5px;
  }
  h1 {
    font-size: 120%;
  }
}

@media only screen 
and (min-device-width: 1123px) {
  .experienceMainDiv {
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .experienceContentAdjustment {
    padding: 5px;
  }
  .logo1 {
    padding-right: 10px;
    padding-bottom: 75px;
    max-width: 50px;
  }
  .con {
    padding-left: 5px;
    padding-right: 5px;
  }
  .con h2 {
    font-size: 90%;
  }
  .conHead {
    font-weight: 500;
    font-size: 95%;
  }
  .conHead1 {
    font-weight: 500;
    font-size: 95%;
    padding-left: 55px;
  }
  .date1 {
    font-size: 70%;
    padding-left: 25px;
  }
  .conParagraph {
    padding-left: 25px;
    padding-right: 50px;
    font-size: 95%;
  }
  .date2 {
    font-size: 70%;
    padding-left: 55px;
  }
  .conParagraph1 {
    padding-left: 55px;
    padding-right: 50px;
    font-size: 95%;
  }
  .btn {
    font-size: 85%;
    float: right;
  }
  .details a {
    font-size: 105%;
    padding: 10px 10px;
    margin-left: 55px;
    margin-top: 255px;
  }
  h1 {
    font-size: 140%;
  }
}

@media only screen
and (min-device-width: 1925px) {
  .experienceMainDiv {
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .experienceContentAdjustment {
    padding: 5px;
  }
  .logo1 {
    padding-right: 25px;
    padding-bottom: 200px;
    max-width: 100px;
  }
  .con {
    padding-left: 5px;
    padding-right: 5px;
  }
  .con h2 {
    font-size: 205%;
  }
  .conHead {
    font-weight: 500;
    font-size: 205%;
  }
  .conHead1 {
    font-weight: 500;
    font-size: 205%;
    padding-left: 125px;
  }
  .date1 {
    font-size: 205%;
    padding-left: 125px;
  }
  .conParagraph {
    padding-left: 125px;
    padding-right: 50px;
    font-size: 205%;
  }
  .date2 {
    font-size: 205%;
    padding-left: 125px;
  }
  .conParagraph1 {
    padding-left: 125px;
    padding-right: 50px;
    font-size: 205%;
  }
  .btn {
    font-size: 105%;
    float: right;
  }
  .details a {
    font-size: 205%;
    padding: 10px 125px;
    margin: 5px 5px 5px 5px;
  }
  h1 {
    font-size: 220%;
  }
}