body {
    margin: 0;
    background-image: url(../IMAGES/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'dosis', sans-serif;
}
nav {
    display: block;
    position: sticky;
    overflow: hidden;
    top: 0;
    margin-bottom: 5px;
    padding: 5px 10px;
    z-index: 10;
  }
  .sidenavButton {
    color: #fff;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #90b4b9, #79a4ad);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 600;
    }  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  } 
  .sidenav a:hover {
    color: #505050;
  } 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav a.active {
    color: #4d4d4d;
  }
  .sidenav a.active:hover {
    color: #333333;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .HomeHeader {
    border: solid 2px #632423;
    text-align: center;
    background-color: #90b3b98f;
    margin-right: auto;
    margin-left: auto;
  }
  .HomeSubHeader {
    text-align: center;
    color: #632423;
  }
  .HomeParagraph {
    text-align: center;
    background-color: #EEECE1;
    color: #632423;
    font-weight: 800;
  }
  .Profile {
    border-radius: 50%;
  }

@media only screen 
and (min-device-width: 0px)  {
  .HomeHeader {
    margin-top: 30px;
    margin-bottom: 10%;
    width: 90%;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
  }
  .HomeSubHeader {
    font-size: 140%;
    font-weight: 800;
  }
  .Profile {
    width: 230px;
    margin: 10px;
  }
  .HomeParagraph {
    font-size: 60%;
  }
}

@media only screen
and (min-device-width: 350px) {
  .HomeHeader {
    margin-top: 30px;
    margin-bottom: 10%;
    width: 90%;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
  }
  .HomeSubHeader {
    font-size: 140%;
    font-weight: 800;
  }
  .Profile {
    width: 230px;
    margin: 10px;
  }
  .HomeParagraph {
    font-size: 60%;
  }
}

@media only screen
and (min-device-width: 465px) {
  .HomeHeader {
    margin-top: 30px;
    margin-bottom: 10%;
    width: 75%;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
  }
  .HomeSubHeader {
    font-size: 150%;
    font-weight: 800;
  }
  .Profile {
    width: 300px;
    margin: 10px;
  }
  .HomeParagraph {
    font-size: 90%;
  }
}

@media only screen
and (min-device-width: 840px) {
  .HomeHeader {
    margin-top: 30px;
    margin-bottom: 10%;
    width: 75%;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
  }
  .HomeSubHeader {
    font-size: 160%;
    font-weight: 800;
  }
  .Profile {
    width: 450px;
    margin: 10px;
  }
  .HomeParagraph {
    font-size: 100%;
  }
}

@media only screen 
and (min-device-width: 1123px) {
  .HomeHeader {
    margin-top: 30px;
    margin-bottom: 10%;
    width: 70%;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
  }
  .HomeSubHeader {
    font-size: 170%;
    font-weight: 800;
  }
  .Profile {
    width: 500px;
    margin: 10px;
  }
  .HomeParagraph {
    font-size: 120%;
  }
}

@media only screen
and (min-device-width: 1925px) {
  .HomeHeader {
    margin-top: 30px;
    margin-bottom: 10%;
    width: 65%;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
  }
  .HomeSubHeader {
    font-size: 220%;
    font-weight: 800;
  }
  .Profile {
    width: 800px;
    margin: 10px;
  }
  .HomeParagraph {
    font-size: 150%;
  }
}