main {
    display: block;
}

.cardsContainer {
    margin-top: 2.5rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--bg);
    border-radius: 25px;
    padding: 2rem 2rem;
}

.cardsContainer .card {
    background-color: var(--bg);
    border-radius: 15px;
    box-shadow: none;
    border-top: none;
    padding: 1.5rem 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 6%;
}

.card .Text {
    width: 63%;
}

.card .Info
{
    width: 27%;
}

.Info img
{
    width: inherit;
}

.Info p
{
    font-size: 0.6rem;
}

.Text h1
{
    font-size: 0.8rem;
    color: var(--text);
}
.Text .description
{
    font-size: 0.7rem;
    color: var(--text-muted);
    line-height: 1rem;
    text-align: justify;
}

@media only screen and (max-width: 3445px) 
{
}

@media only screen and (max-width: 1445px) 
{
}

@media only screen and (max-width: 1030px)
{

}

@media only screen and (max-width: 800px)
{

}

@media only screen and (max-width: 430px)
{
    .cardsContainer, .Info, .Text, .card {
        width: 100% !important;
    }

    .card {
        padding: 0 !important;
        margin: 0;
    }

    .cardsContainer .card {
        flex-direction: column;
        gap: 1rem;
    }

    .Info, .Text {
        margin-left: auto;
        margin-right: auto;
    }

    .Info p {
        font-size: 0.4rem;
        text-align: center;
    }

    .Info img {
        width: 50% !important;
    }

    .Text h1 {
        font-size: 0.6rem;
        text-align: center;
    }

    .Text .description {
        font-size: 0.5rem;
        line-height: 0.5rem;
    }

    .Text ul li  {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 380px)
{
    .cardsContainer, .Info, .Text, .card {
        width: 100% !important;
    }

    .card {
        padding: 0 !important;
        margin: 0;
    }

    .cardsContainer .card {
        flex-direction: column;
        gap: 1rem;
    }

    .Info, .Text {
        margin-left: auto;
        margin-right: auto;
    }

    .Info p {
        font-size: 0.4rem;
        text-align: center;
    }

    .Info img {
        width: 50% !important;
    }

    .Text h1 {
        font-size: 0.6rem;
        text-align: center;
    }

    .Text .description {
        font-size: 0.5rem;
        line-height: 0.5rem;
    }

    .Text ul li  {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 325px)
{
    .cardsContainer, .Info, .Text, .card {
        width: 100% !important;
    }

    .card {
        padding: 0 !important;
        margin: 0;
    }

    .cardsContainer .card {
        flex-direction: column;
        gap: 1rem;
    }

    .Info, .Text {
        margin-left: auto;
        margin-right: auto;
    }

    .Info p {
        font-size: 0.4rem;
        text-align: center;
    }

    .Info img {
        width: 50% !important;
    }

    .Text h1 {
        font-size: 0.5rem;
        text-align: center;
    }

    .Text .description {
        font-size: 0.4rem;
        line-height: 0.5rem;
    }

    .Text ul li  {
        font-size: 0.4rem;
    }
}