body {
    margin: 0;
    background-image: url(../IMAGES/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'dosis', sans-serif;
}
nav {
    display: block;
    position: sticky;
    overflow: hidden;
    top: 0;
    margin-bottom: 5px;
    padding: 5px 10px;
    z-index: 10;
  }
  .sidenavButton {
    color: #fff;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #90b4b9, #79a4ad);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 600;
    }  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  } 
  .sidenav a:hover {
    color: #505050;
  } 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav a.active {
    color: #4d4d4d;
  }
  .sidenav a.active:hover {
    color: #333333;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .projectsMainDiv {
    color: black;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .projectsContentAdjustment {
    text-align: left;
  }
  .con h2 {
    font-weight: 300;
  }
  .date {
    text-align: left;
    color: rgba(0, 0, 0, 0.351);
    font-weight: 300;
  }

@media only screen 
and (min-device-width: 0px)  {
  .projectsMainDiv {
    margin-bottom: 5%;
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .projectsContentAdjustment {
    padding: 0px;
  }
  .con {
    padding-left:  0;
    padding-right: 25px;
  }
  .date {
    font-size: 90%;
  }
  .logor5 {
    width: 14px;
    padding-right: 10px;
  }
  .con h2 {
    font-size: 80%;
  }
  .conHead {
    font-weight: 500;
    font-size: 95%;
  }
  h1 {
    font-size: 120%;
  }
}

@media only screen
and (min-device-width: 350px) {
  .projectsMainDiv {
    margin-bottom: 5%;
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .projectsContentAdjustment {
    padding: 0px;
  }
  .con {
    padding-left:  0;
    padding-right: 25px;
  }
  .date {
    font-size: 90%;
  }
  .logor5 {
    width: 14px;
    padding-right: 10px;
  }
  .con h2 {
    font-size: 80%;
  }
  .conHead {
    font-weight: 500;
    font-size: 95%;
  }
  h1 {
    font-size: 120%;
  }
}

@media only screen
and (min-device-width: 465px) {
  .projectsMainDiv {
    margin-bottom: 5%;
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .projectsContentAdjustment {
    padding: 0px;
  }
  .con {
    padding-left:  0;
    padding-right: 25px;
  }
  .date {
    font-size: 90%;
  }
  .logor5 {
    width: 14px;
    padding-right: 10px;
  }
  .con h2 {
    font-size: 80%;
  }
  .conHead {
    font-weight: 500;
    font-size: 95%;
  }
  h1 {
    font-size: 120%;
  }
}

@media only screen
and (min-device-width: 840px) {
  .projectsMainDiv {
    margin-bottom: 5%;
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .projectsContentAdjustment {
    padding: 0px;
  }
  .con {
    padding-left:  0;
    padding-right: 25px;
  }
  .date {
    font-size: 95%;
  }
  .logor5 {
    width: 18px;
    padding-right: 10px;
  }
  .con h2 {
    font-size: 85%;
  }
  .conHead {
    font-weight: 500;
    font-size: 100%;
  }
  h1 {
    font-size: 130%;
  }
}

@media only screen 
and (min-device-width: 1123px) {
  .projectsMainDiv {
    margin-bottom: 5%;
    width: 75%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .projectsContentAdjustment {
    padding: 0px;
  }
  .con {
    padding-left:  0;
    padding-right: 25px;
  }
  .date {
    font-size: 95%;
  }
  .logor5 {
    width: 24px;
    padding-right: 10px;
  }
  .con h2 {
    font-size: 90%;
  }
  .conHead {
    font-weight: 500;
    font-size: 100%;
  }
  h1 {
    font-size: 150%;
  }
}

@media only screen
and (min-device-width: 1925px) {
  .projectsMainDiv {
    margin-bottom: 5%;
    width: 80%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .projectsContentAdjustment {
    padding: 0px;
  }
  .con {
    padding-left:  0;
    padding-right: 25px;
  }
  .date {
    font-size: 150%;
  }
  .logor5 {
    width: 28px;
    padding-right: 10px;
  }
  .con h2 {
    font-size: 150%;
  }
  .conHead {
    font-weight: 500;
    font-size: 200%;
  }
  h1 {
    font-size: 200%;
  }
}