body {
    margin: 0;
    background-image: url(../IMAGES/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'dosis', sans-serif;
}
nav {
    display: block;
    position: sticky;
    overflow: hidden;
    top: 0;
    margin-bottom: 5px;
    padding: 5px 10px;
    z-index: 10;
  }
  .sidenavButton {
    color: #fff;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #90b4b9, #79a4ad);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 600;
    }  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  } 
  .sidenav a:hover {
    color: #505050;
  } 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav a.active {
    color: #4d4d4d;
  }
  .sidenav a.active:hover {
    color: #333333;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  .SummaryHeader {
    border: solid 1px #ffffffdf;
    border-radius: 20px;
    background-color: #ffffffdf;
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
  .SummarySubHeader {
    text-align: center;
    color: #632423;
  }
  .SummaryHead {
    background-color: #EEECE1;
    text-align: center;
    color: #632423;
  }
  .SummaryParagraph {
    color: #632423;
  }
  .SummaryBreakLine {
    border: 2px solid #632423;
  }


@media only screen 
and (min-device-width: 0px)  {
  .SummaryHeader {
    width: 95%;
    margin-top: 25px;
  }
  .SummarySubHeader {
    font-size: 150%;
    font-weight: 800;
  }
  .SummaryParagraph {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 80%;
  }
  .SummaryBreakLine {
    width: 80%;
  }
  .SummaryHead {
    font-size: 70%;
  }
}

@media only screen
and (min-device-width: 350px) {
  .SummaryHeader {
    width: 95%;
    margin-top: 25px;
  }
  .SummarySubHeader {
    font-size: 150%;
    font-weight: 800;
  }
  .SummaryParagraph {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 80%;
  }
  .SummaryBreakLine {
    width: 80%;
  }
  .SummaryHead {
    font-size: 70%;
  }
}

@media only screen
and (min-device-width: 465px) {
  .SummaryHeader {
    width: 90%;
    margin-top: 25px;
  }
  .SummarySubHeader {
    font-size: 170%;
    font-weight: 800;
  }
  .SummaryParagraph {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 90%;
  }
  .SummaryBreakLine {
    width: 80%;
  }
  .SummaryHead {
    font-size: 80%;
  }
}

@media only screen
and (min-device-width: 840px) {
  .SummaryHeader {
    width: 90%;
    margin-top: 25px;
  }
  .SummarySubHeader {
    font-size: 170%;
    font-weight: 800;
  }
  .SummaryParagraph {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 100%;
  }
  .SummaryBreakLine {
    width: 80%;
  }
  .SummaryHead {
    font-size: 100%;
  }
}

@media only screen 
and (min-device-width: 1123px) {
  .SummaryHeader {
    width: 80%;
    margin-top: 25px;
  }
  .SummarySubHeader {
    font-size: 200%;
    font-weight: 800;
  }
  .SummaryParagraph {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 110%;
  }
  .SummaryBreakLine {
    width: 80%;
  }
  .SummaryHead {
    font-size: 120%;
  }
}

@media only screen
and (min-device-width: 1925px) {
  .SummaryHeader {
    width: 70%;
    margin-top: 25px;
  }
  .SummarySubHeader {
    font-size: 270%;
    font-weight: 800;
  }
  .SummaryParagraph {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 210%;
  }
  .SummaryBreakLine {
    width: 80%;
  }
  .SummaryHead {
    font-size: 210%;
  }
}