body {
    margin: 0;
    background-image: url(../IMAGES/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'dosis', sans-serif;
}
nav {
    display: block;
    position: sticky;
    overflow: hidden;
    top: 0;
    margin-bottom: 5px;
    padding: 5px 10px;
    z-index: 10;
  }
  .sidenavButton {
    color: #fff;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #90b4b9, #79a4ad);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 600;
    }  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  } 
  .sidenav a:hover {
    color: #505050;
  } 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav a.active {
    color: #4d4d4d;
  }
  .sidenav a.active:hover {
    color: #333333;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .exper4 {
    color: black;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

@media only screen 
and (min-device-width: 0px)  {
  .exper4 {
    padding-top:    20px;
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
    margin-bottom: 22.5%;
    width: 85%;
    padding-bottom: 20px;
  }
  .con {
    padding-right: 5px;
  }
  .opel3 {
    font-weight: 300;
    font-size: 15px;
  }
  h1 {
    font-size: 16px;
  }
}

@media only screen
and (min-device-width: 350px) {
  .exper4 {
    padding-top:    20px;
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
    margin-bottom: 22.5%;
    width: 85%;
    padding-bottom: 20px;
  }
  .con {
    padding-right: 5px;
  }
  .opel3 {
    font-weight: 300;
    font-size: 15px;
  }
  h1 {
    font-size: 16px;
  }
}

@media only screen
and (min-device-width: 465px) {
  .exper4 {
    padding-top:    20px;
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
    margin-bottom: 22.5%;
    width: 80%;
  }
  .con {
    padding-right: 5px;
  }
  .opel3 {
    font-weight: 300;
    font-size: 18px;
  }
  h1 {
    font-size: 20px;
  }
}

@media only screen
and (min-device-width: 840px) {
  .exper4 {
    padding-top:    20px;
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
    margin-bottom: 22.5%;
    width: 70%;
  }
  .con {
    padding-right: 5px;
  }
  .opel3 {
    font-weight: 300;
    font-size: 20px;
  }
  h1 {
    font-size: 22px;
  }
}

@media only screen 
and (min-device-width: 1123px) {
  .exper4 {
    padding-top:    20px;
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
    margin-bottom: 22.5%;
    width: 60%;
  }
  .con {
    padding-right: 5px;
  }
  .opel3 {
    font-weight: 300;
    font-size: 22px;
  }
  h1 {
    font-size: 24px;
  }
}

@media only screen
and (min-device-width: 1925px) {
  .exper4 {
    padding-top:    20px;
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
    margin-bottom: 22.5%;
    width: 50%;
  }
  .con {
    padding-right: 5px;
  }
  .opel3 {
    font-weight: 300;
    font-size: 24px;
  }
  h1 {
    font-size: 26px;
  }
}